@font-face {
    font-family: 'Perandory';
    src: url('/fonts/Perandory-Regular.otf') format('opentype');
}
@font-face{
    font-family: 'Drayton';
    src: url('/fonts/ED-Drayton-Regular.otf') format('opentype');
}

body {
    margin: 0;
    min-height: 100vh;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    height: auto;

    z-index: 1;
}

.banner {
    position: relative;
    z-index: 2;

    padding-bottom: 300px;
}

.ready {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: 'Perandory', sans-serif;
    font-size: 90px;
    color: rgb(217, 217, 217);
}

.bunny {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: 'Drayton', sans-serif;
    font-size: 130px;
    margin-top: -90px;
    transform: rotate(-5deg);
    color: rgb(217, 217, 217);
}

.bunny::before {
    content: "Bunny?";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    color: white;
    margin-left: 54.3px;
    text-shadow:
        -1px -1px 0 rgb(0, 0, 0),
         0px -1px 0 rgb(0, 0, 0),
         1px -1px 0 rgb(0, 0, 0),
        -1px  0px 0 rgb(0, 0, 0),
         1px  0px 0 rgb(0, 0, 0),
        -1px  1px 0 rgb(0, 0, 0),
         0px  1px 0 rgb(0, 0, 0),
         1px  1px 0 rgb(0, 0, 0);
}